# Cleaning cost of Living Date

I. Import & config

In [49]:

import pandas as pd

II. Chargement du fichier CSV

In [50]:

# Chargement du fichier CSV contenant les données brutes
df = pd.read_csv('scraped_cost_of_living_data.csv')
df.head()

,Country_url,Item,Price,Range
0,country_result.jsp?country=Afghanistan,NaN,NaN,NaN
1,country_result.jsp?country=Afghanistan,"Meal, Inexpensive Restaurant",150.00 AFN,100.00-300.00
2,country_result.jsp?country=Afghanistan,"Meal for 2 People, Mid-range Restaurant, Three...",655.54 AFN,"500.00-1,111.00"
3,country_result.jsp?country=Afghanistan,McMeal at McDonalds (or Equivalent Combo Meal),250.00 AFN,250.00-300.00
4,country_result.jsp?country=Afghanistan,Domestic Non-Alcoholic Beer (0.5 liter draught),200.00 AFN,100.00-500.00

III. Nettoyage des données

In [ ]:
# 1. Création d'une copie 
df_cleaned = df.copy()

In [52]:
# 2. Suppression des symboles monétaires (par exemple €, $, £) dans la colonne 'Price'
df_cleaned.loc[:, 'Price'] = df_cleaned['Price'].replace({'€': '', '$': '', '£': ''}, regex=True)

In [ ]:
# 3. Conversion de la colonne 'Price' en numérique (float), en remplaçant les valeurs non convertibles par NaN => erreur ne fonctionne pas et supprime toutes les données
# df_cleaned['Price'] = pd.to_numeric(df_cleaned['Price'], errors='coerce')

In [ ]:
# 4. Suppression des lignes contenant des valeurs manquantes dans la colonne 'Price'
df_cleaned = df_cleaned.dropna(subset=['Price'])

In [ ]:
# 5. Affichage des 50 premières lignes des données nettoyées
df_cleaned.head(50)

,Country_url,Item,Price,Range
1,country_result.jsp?country=Afghanistan,"Meal, Inexpensive Restaurant",150.00 AFN,100.00-300.00
2,country_result.jsp?country=Afghanistan,"Meal for 2 People, Mid-range Restaurant, Three...",655.54 AFN,"500.00-1,111.00"
3,country_result.jsp?country=Afghanistan,McMeal at McDonalds (or Equivalent Combo Meal),250.00 AFN,250.00-300.00
4,country_result.jsp?country=Afghanistan,Domestic Non-Alcoholic Beer (0.5 liter draught),200.00 AFN,100.00-500.00
5,country_result.jsp?country=Afghanistan,Imported Non-Alcoholic Beer (0.33 liter bottle),500.00 AFN,200.00-500.00
6,country_result.jsp?country=Afghanistan,Cappuccino (regular),63.00 AFN,40.00-150.00
7,country_result.jsp?country=Afghanistan,Coke/Pepsi (0.33 liter bottle),27.19 AFN,20.00-40.00
8,country_result.jsp?country=Afghanistan,Water (0.33 liter bottle),10.35 AFN,10.00-20.00
9,country_result.jsp?country=Afghanistan,"Milk (regular), (1 liter)",51.50 AFN,30.00-100.00
10,country_result.jsp?country=Afghanistan,Loaf of Fresh White Bread (500g),16.89 AFN,10.00-60.00
11,country_result.jsp?country=Afghanistan,"Rice (white), (1kg)",116.67 AFN,60.00-170.00
12,country_result.jsp?country=Afghanistan,Eggs (regular) (12),107.50 AFN,84.00-120.00
13,country_result.jsp?country=Afghanistan,Local Cheese (1kg),257.50 AFN,200.00-500.00
14,country_result.jsp?country=Afghanistan,Chicken Fillets (1kg),233.75 AFN,170.00-300.00
15,country_result.jsp?country=Afghanistan,Beef Round (1kg) (or Equivalent Back Leg Red M...,394.44 AFN,350.00-500.00
16,country_result.jsp?country=Afghanistan,Apples (1kg),43.89 AFN,22.00-70.00
17,country_result.jsp?country=Afghanistan,Banana (1kg),56.25 AFN,40.00-150.00
18,country_result.jsp?country=Afghanistan,Oranges (1kg),50.62 AFN,30.00-200.00
19,country_result.jsp?country=Afghanistan,Tomato (1kg),34.12 AFN,15.00-60.00
20,country_result.jsp?country=Afghanistan,Potato (1kg),31.45 AFN,15.00-50.00
21,country_result.jsp?country=Afghanistan,Onion (1kg),26.95 AFN,20.00-50.00
22,country_result.jsp?country=Afghanistan,Lettuce (1 head),21.43 AFN,10.00-35.00
23,country_result.jsp?country=Afghanistan,Water (1.5 liter bottle),21.54 AFN,20.00-30.00
24,country_result.jsp?country=Afghanistan,Bottle of Non-Alcoholic Wine (Mid-Range),120.00 AFN,"60.00-1,500.00"
25,country_result.jsp?country=Afghanistan,Domestic Non-Alcoholic Beer (0.5 liter bottle),50.00 AFN,30.00-80.00
26,country_result.jsp?country=Afghanistan,Imported Non-Alcoholic Beer (0.33 liter bottle),102.50 AFN,50.00-180.00
27,country_result.jsp?country=Afghanistan,Cigarettes 20 Pack (Marlboro),170.00 AFN,90.00-250.00
28,country_result.jsp?country=Afghanistan,One-way Ticket (Local Transport),20.00 AFN,10.00-30.00
29,country_result.jsp?country=Afghanistan,Monthly Pass (Regular Price),850.00 AFN,"500.00-2,000.00"
30,country_result.jsp?country=Afghanistan,Taxi Start (Normal Tariff),100.00 AFN,50.00-150.00
31,country_result.jsp?country=Afghanistan,Taxi 1km (Normal Tariff),50.00 AFN,30.00-100.00
32,country_result.jsp?country=Afghanistan,Taxi 1hour Waiting (Normal Tariff),120.00 AFN,100.00-300.00
33,country_result.jsp?country=Afghanistan,Gasoline (1 liter),70.08 AFN,60.00-97.00
34,country_result.jsp?country=Afghanistan,Volkswagen Golf 1.4 90 KW Trendline (Or Equiva...,"600,000.00 AFN","550,000.00-600,000.00"
35,country_result.jsp?country=Afghanistan,Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equ...,"2,800,000.00 AFN",NaN
36,country_result.jsp?country=Afghanistan,"Basic (Electricity, Heating, Cooling, Water, G...","6,258.93 AFN","2,500.00-12,000.00"
37,country_result.jsp?country=Afghanistan,Mobile Phone Monthly Plan with Calls and 10GB+...,"1,013.86 AFN","800.00-1,099.00"
38,country_result.jsp?country=Afghanistan,"Internet (60 Mbps or More, Unlimited Data, Cab...","8,312.50 AFN","3,000.00-20,000.00"
39,country_result.jsp?country=Afghanistan,"Fitness Club, Monthly Fee for 1 Adult",690.91 AFN,"500.00-1,000.00"
40,country_result.jsp?country=Afghanistan,Tennis Court Rent (1 Hour on Weekend),250.00 AFN,0.00-350.00
41,country_result.jsp?country=Afghanistan,"Cinema, International Release, 1 Seat",169.82 AFN,100.00-300.00
42,country_result.jsp?country=Afghanistan,"Preschool (or Kindergarten), Full Day, Private...","1,628.57 AFN","1,000.00-4,000.00"
43,country_result.jsp?country=Afghanistan,"International Primary School, Yearly for 1 Child","100,000.00 AFN","80,000.00-120,000.00"
44,country_result.jsp?country=Afghanistan,1 Pair of Jeans (Levis 501 Or Similar),975.00 AFN,"500.00-1,500.00"
45,country_result.jsp?country=Afghanistan,"1 Summer Dress in a Chain Store (Zara, H&M, ...)","1,212.50 AFN","680.00-2,000.00"
46,country_result.jsp?country=Afghanistan,1 Pair of Nike Running Shoes (Mid-Range),"2,214.29 AFN","1,000.00-5,000.00"
47,country_result.jsp?country=Afghanistan,1 Pair of Men Leather Business Shoes,"1,856.25 AFN","1,000.00-4,000.00"
48,country_result.jsp?country=Afghanistan,Apartment (1 bedroom) in City Centre,"5,687.50 AFN","4,000.00-10,000.00"
49,country_result.jsp?country=Afghanistan,Apartment (1 bedroom) Outside of Centre,"3,625.00 AFN","2,500.00-6,000.00"
50,country_result.jsp?country=Afghanistan,Apartment (3 bedrooms) in City Centre,"12,875.00 AFN","8,000.00-20,000.00"

IV. Sauvegarde des données nettoyées

In [56]:

# Sauvegarde des données nettoyées dans un nouveau fichier CSV
df_cleaned.to_csv('cleaned_cost_of_living_data.csv', index=False, encoding='utf-8')

print("Les données nettoyées ont été enregistrées dans 'cleaned_cost_of_living_data.csv'.")

Les données nettoyées ont été enregistrées dans 'cleaned_cost_of_living_data.csv'.