I. Import & config

In [1]:
import pandas as pd

II. Chargement fichier CSV

In [2]:
df = pd.read_csv('numbeo_scraping.csv')
print(df.head())

                                                   0        1             2
0                                        Restaurants     Edit         Range
1                       Meal, Inexpensive Restaurant  20.00 $   12.00-38.00
2  Meal for 2 People, Mid-range Restaurant, Three...  75.00 $  50.00-150.00
3     McMeal at McDonalds (or Equivalent Combo Meal)  11.00 $    9.00-15.00
4                  Domestic Beer (0.5 liter draught)   6.00 $     3.75-9.00

III. Initialisation de la colonne Category'

In [3]:
df['Category'] = None

IV. Définition des catégories via les lignes

In [4]:
categories = {
    "Restaurants": (1, 9),  # Plage des lignes pour Restaurants
    "Markets": (10, 28),    # Plage des lignes pour Markets
    "Transportation": (30, 37),
    "Utilities (Monthly)": (39, 41),
    "Sports And Leisure": (43, 45),
    "Childcare": (47, 48),
    "Clothing And Shoes": (50, 53),
    "Rent Per Month": (55, 58),
    "Buy Apartment Price": (59, 61),
    "Salaries And Financing": (63, 65),
}


# Affecter les catégories en fonction des plages
for category, (start, end) in categories.items():
    df.loc[start:end, 'Category'] = category

V. Nettoyage des données (Edit ou sans données)

In [5]:
df = df[df['0'] != 'Edit']  # Suppression des lignes avec 'Edit'
df = df.dropna(subset=['0', '1', '2'], how='all')  # Supprimer les lignes vides


# Colonnes renommées pour plus de clarté
df.columns = ['Description', 'Price', 'Range', 'Category']

VI. Exporter le fichier nettoyé

In [6]:
# Exporter le fichier nettoyé
df.to_csv('numbeo_cleaned.csv', index=False, encoding='utf-8')
print("Les données nettoyées ont été exportées dans 'numbeo_cleaned.csv'.")

Les données nettoyées ont été exportées dans 'numbeo_cleaned.csv'.

In [11]:
df = pd.read_csv('numbeo_cleaned.csv')
df

,Description,Price,Range,Category
0,Restaurants,Edit,Range,NaN
1,"Meal, Inexpensive Restaurant",20.00 $,12.00-38.00,Restaurants
2,"Meal for 2 People, Mid-range Restaurant, Three...",75.00 $,50.00-150.00,Restaurants
3,McMeal at McDonalds (or Equivalent Combo Meal),11.00 $,9.00-15.00,Restaurants
4,Domestic Beer (0.5 liter draught),6.00 $,3.75-9.00,Restaurants
5,Imported Beer (0.33 liter bottle),7.00 $,5.00-12.00,Restaurants
6,Cappuccino (regular),5.20 $,3.00-8.00,Restaurants
7,Coke/Pepsi (0.33 liter bottle),2.54 $,2.00-4.00,Restaurants
8,Water (0.33 liter bottle),2.07 $,1.50-3.00,Restaurants
9,"Milk (regular), (1 liter)",1.05 $,0.52-2.02,Markets
10,Loaf of Fresh White Bread (500g),3.61 $,1.97-6.66,Markets
11,"Rice (white), (1kg)",4.58 $,2.03-8.82,Markets
12,Eggs (regular) (12),3.80 $,1.89-6.69,Markets
13,Local Cheese (1kg),12.91 $,6.61-26.46,Markets
14,Chicken Fillets (1kg),12.01 $,5.51-20.94,Markets
15,Beef Round (1kg) (or Equivalent Back Leg Red M...,16.08 $,9.46-26.46,Markets
16,Apples (1kg),5.24 $,2.20-8.82,Markets
17,Banana (1kg),1.67 $,1.08-4.41,Markets
18,Oranges (1kg),4.49 $,2.00-11.02,Markets
19,Tomato (1kg),4.89 $,2.08-8.82,Markets
20,Potato (1kg),2.94 $,1.10-6.61,Markets
21,Onion (1kg),3.07 $,1.74-6.17,Markets
22,Lettuce (1 head),2.20 $,1.29-4.53,Markets
23,Water (1.5 liter bottle),2.21 $,1.00-3.50,Markets
24,Bottle of Wine (Mid-Range),15.00 $,9.00-24.00,Markets
25,Domestic Beer (0.5 liter bottle),1.92 $,1.73-3.62,Markets
26,Imported Beer (0.33 liter bottle),3.55 $,1.50-6.75,Markets
27,Cigarettes 20 Pack (Marlboro),10.00 $,8.00-17.00,Markets
28,One-way Ticket (Local Transport),2.50 $,1.25-4.00,Transportation
29,Monthly Pass (Regular Price),65.00 $,38.00-132.00,Transportation
30,Taxi Start (Normal Tariff),3.75 $,2.60-7.00,Transportation
31,Taxi 1km (Normal Tariff),1.74 $,1.26-3.11,Transportation
32,Taxi 1hour Waiting (Normal Tariff),30.00 $,22.00-45.00,Transportation
33,Gasoline (1 liter),0.93 $,0.74-1.38,Transportation
34,Volkswagen Golf 1.4 90 KW Trendline (Or Equiva...,"30,000.00 $","23,830.74-36,050.00",Transportation
35,Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equ...,"25,882.44 $","24,674.02-28,000.00",Transportation
36,"Basic (Electricity, Heating, Cooling, Water, G...",206.24 $,125.00-375.00,Utilities (Monthly)
37,Mobile Phone Monthly Plan with Calls and 10GB+...,56.78 $,30.00-100.00,Utilities (Monthly)
38,"Internet (60 Mbps or More, Unlimited Data, Cab...",70.91 $,50.00-106.00,Utilities (Monthly)
39,"Fitness Club, Monthly Fee for 1 Adult",46.78 $,20.00-146.05,Sports And Leisure
40,Tennis Court Rent (1 Hour on Weekend),21.33 $,8.00-35.00,Sports And Leisure
41,"Cinema, International Release, 1 Seat",14.00 $,10.50-20.00,Sports And Leisure
42,"Preschool (or Kindergarten), Full Day, Private...","1,381.50 $","800.00-3,122.44",Childcare
43,"International Primary School, Yearly for 1 Child","22,944.27 $","12,000.00-40,000.00",Childcare
44,1 Pair of Jeans (Levis 501 Or Similar),51.77 $,28.99-80.00,Clothing And Shoes
45,"1 Summer Dress in a Chain Store (Zara, H&M, ...)",42.54 $,24.99-70.00,Clothing And Shoes
46,1 Pair of Nike Running Shoes (Mid-Range),88.87 $,60.00-130.00,Clothing And Shoes
47,1 Pair of Men Leather Business Shoes,113.22 $,65.00-200.00,Clothing And Shoes
48,Apartment (1 bedroom) in City Centre,"1,749.64 $","1,100.00-4,059.47",Rent Per Month
49,Apartment (1 bedroom) Outside of Centre,"1,442.75 $","950.00-2,942.81",Rent Per Month
50,Apartment (3 bedrooms) in City Centre,"2,918.36 $","1,800.00-8,648.21",Rent Per Month
51,Apartment (3 bedrooms) Outside of Centre,"2,394.63 $","1,600.00-5,306.92",Rent Per Month
52,Price per Square Meter to Buy Apartment in Cit...,"3,213.64 $","1,829.86-17,953.77",Buy Apartment Price
53,Price per Square Meter to Buy Apartment Outsid...,"2,702.54 $","1,722.23-12,887.36",Buy Apartment Price
54,"Mortgage Interest Rate in Percentages (%), Yea...",6.57,6.00-7.00,Salaries And Financing