I. Import & config

In [130]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re

In [131]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'
}

II. Get data

In [136]:
url = 'https://www.numbeo.com/cost-of-living/country_result.jsp?country=United+States'

In [137]:
response = requests.get(url, headers=headers)
soup = BeautifulSoup(response.text, 'html.parser')

III. Main

In [139]:
# Extraction des données du tableau
table = soup.find('table', {'class': 'data_wide_table'})
rows = table.find_all('tr')

In [140]:
# Création d'une liste des données extraites
data = []
for row in rows:
    columns = row.find_all(['th', 'td'])
    data.append([col.get_text(strip=True) for col in columns])

In [141]:
# Transformation des données en DataFrame Pandas
df = pd.DataFrame(data)

# J'affiche les premières lignes
print(df.head())

                                                   0        1             2
0                                        Restaurants     Edit         Range
1                       Meal, Inexpensive Restaurant  20.00 $   12.00-38.00
2  Meal for 2 People, Mid-range Restaurant, Three...  75.00 $  50.00-150.00
3     McMeal at McDonalds (or Equivalent Combo Meal)  11.00 $    9.00-15.00
4                  Domestic Beer (0.5 liter draught)   6.00 $     3.75-9.00

In [149]:
df[:60]

,0,1,2
0,Restaurants,Edit,Range
1,"Meal, Inexpensive Restaurant",20.00 $,12.00-38.00
2,"Meal for 2 People, Mid-range Restaurant, Three...",75.00 $,50.00-150.00
3,McMeal at McDonalds (or Equivalent Combo Meal),11.00 $,9.00-15.00
4,Domestic Beer (0.5 liter draught),6.00 $,3.75-9.00
5,Imported Beer (0.33 liter bottle),7.00 $,5.00-12.00
6,Cappuccino (regular),5.20 $,3.00-8.00
7,Coke/Pepsi (0.33 liter bottle),2.54 $,2.00-4.00
8,Water (0.33 liter bottle),2.07 $,1.50-3.00
9,Markets,Edit,
10,"Milk (regular), (1 liter)",1.05 $,0.52-2.02
11,Loaf of Fresh White Bread (500g),3.61 $,1.97-6.66
12,"Rice (white), (1kg)",4.58 $,2.03-8.82
13,Eggs (regular) (12),3.80 $,1.89-6.69
14,Local Cheese (1kg),12.91 $,6.61-26.46
15,Chicken Fillets (1kg),12.01 $,5.51-20.94
16,Beef Round (1kg) (or Equivalent Back Leg Red M...,16.08 $,9.46-26.46
17,Apples (1kg),5.24 $,2.20-8.82
18,Banana (1kg),1.67 $,1.08-4.41
19,Oranges (1kg),4.49 $,2.00-11.02
20,Tomato (1kg),4.89 $,2.08-8.82
21,Potato (1kg),2.94 $,1.10-6.61
22,Onion (1kg),3.07 $,1.74-6.17
23,Lettuce (1 head),2.20 $,1.29-4.53
24,Water (1.5 liter bottle),2.21 $,1.00-3.50
25,Bottle of Wine (Mid-Range),15.00 $,9.00-24.00
26,Domestic Beer (0.5 liter bottle),1.92 $,1.73-3.62
27,Imported Beer (0.33 liter bottle),3.55 $,1.50-6.75
28,Cigarettes 20 Pack (Marlboro),10.00 $,8.00-17.00
29,Transportation,Edit,
30,One-way Ticket (Local Transport),2.50 $,1.25-4.00
31,Monthly Pass (Regular Price),65.00 $,38.00-132.00
32,Taxi Start (Normal Tariff),3.75 $,2.60-7.00
33,Taxi 1km (Normal Tariff),1.74 $,1.26-3.11
34,Taxi 1hour Waiting (Normal Tariff),30.00 $,22.00-45.00
35,Gasoline (1 liter),0.93 $,0.74-1.38
36,Volkswagen Golf 1.4 90 KW Trendline (Or Equiva...,"30,000.00 $","23,830.74-36,050.00"
37,Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equ...,"25,882.44 $","24,674.02-28,000.00"
38,Utilities (Monthly),Edit,
39,"Basic (Electricity, Heating, Cooling, Water, G...",206.24 $,125.00-375.00
40,Mobile Phone Monthly Plan with Calls and 10GB+...,56.78 $,30.00-100.00
41,"Internet (60 Mbps or More, Unlimited Data, Cab...",70.91 $,50.00-106.00
42,Sports And Leisure,Edit,
43,"Fitness Club, Monthly Fee for 1 Adult",46.78 $,20.00-146.05
44,Tennis Court Rent (1 Hour on Weekend),21.33 $,8.00-35.00
45,"Cinema, International Release, 1 Seat",14.00 $,10.50-20.00
46,Childcare,Edit,
47,"Preschool (or Kindergarten), Full Day, Private...","1,381.50 $","800.00-3,122.44"
48,"International Primary School, Yearly for 1 Child","22,944.27 $","12,000.00-40,000.00"
49,Clothing And Shoes,Edit,
50,1 Pair of Jeans (Levis 501 Or Similar),51.77 $,28.99-80.00
51,"1 Summer Dress in a Chain Store (Zara, H&M, ...)",42.54 $,24.99-70.00
52,1 Pair of Nike Running Shoes (Mid-Range),88.87 $,60.00-130.00
53,1 Pair of Men Leather Business Shoes,113.22 $,65.00-200.00
54,Rent Per Month,Edit,
55,Apartment (1 bedroom) in City Centre,"1,749.64 $","1,100.00-4,059.47"
56,Apartment (1 bedroom) Outside of Centre,"1,442.75 $","950.00-2,942.81"
57,Apartment (3 bedrooms) in City Centre,"2,918.36 $","1,800.00-8,648.21"
58,Apartment (3 bedrooms) Outside of Centre,"2,394.63 $","1,600.00-5,306.92"
59,Buy Apartment Price,Edit,

IV. Extraction des données en fichier CSV

In [150]:
# Exportation des données en fichier CSV
df.to_csv('numbeo_scraping.csv', index=False, encoding='utf-8')
print("Les données ont été exportées dans le fichier 'numbeo_scraping.csv'.")

Les données ont été exportées dans le fichier 'numbeo_scraping.csv'.